/* TVShow.css */

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #168e3a;
}

.movie-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.text-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 10px;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.get-playlist-button-close {
    /*i would like this to go right in the box */

    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;
}

